*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/vegas.jpg);
    background-size: 100%;
    color: wheat;
    margin: 0 auto;
    display: block;
    text-align: center;
    display: inline;
}
#button{
    block-size: auto;
}
.col-4{
    top: 50%;
    left: 32%;
    margin: 0 auto;
    display: block;
}
.img{
    display: inline-block;
}